# There are two methods implemented for encoding many feature or mutlitple categories

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_data=pd.read_csv(r"C:\Users\shahd\Downloads\Downloads\train.csv",encoding='utf-8')
train_data2=train_data.copy()

# Technique # 1

In [3]:
for i in train_data.select_dtypes(include=[object]).columns:
    print(train_data[i].value_counts()[:10])

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
Name: X0, dtype: int64
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: X2, dtype: int64
c    1942
f    1076
a     440
d     290
g     241
e     163
b      57
Name: X3, dtype: int64
d    4205
a       2
b       1
c       1
Name: X4, dtype: int64
w    231
v    231
q    220
r    215
d    214
s    214
n    212
p    208
m    208
i    207
Name: X5, dtype: int64
g    1042
j    1039
d     625
i     488
l     478
a     206
h     190
k      43
c      38
b      28
Name: X6, dtype: int64
j    277
s    255
f    243
n    242
i    237
e    225
r    219
a    210
w    196
v    194
Name: X8, dtype: int64

In [4]:
for i in train_data.select_dtypes(include=[object]).columns:
    print(i,'==>',len(train_data[i].unique()))

X0 ==> 47
X1 ==> 27
X2 ==> 44
X3 ==> 7
X4 ==> 4
X5 ==> 29
X6 ==> 12
X8 ==> 25

In [5]:
top10 = train_data['X8'].value_counts()[:10].index
top10

Index(['j', 's', 'f', 'n', 'i', 'e', 'r', 'a', 'w', 'v'], dtype='object')

In [6]:
train_data.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [7]:
import category_encoders as ce

for i in train_data.select_dtypes(include=[object]).columns:
    
    top10 = train_data[i].value_counts().sort_values(ascending=False)[:10].index
    train_data.loc[~train_data[i].isin(top10), i] = 'OTHER'
    train_data=pd.concat([train_data,pd.get_dummies(train_data[i],prefix=i,drop_first=True)],axis=1).drop([i],axis=1)

In [8]:
train_data.head()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X8_a,X8_e,X8_f,X8_i,X8_j,X8_n,X8_r,X8_s,X8_v,X8_w
0,0,130.81,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6,88.53,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,76.26,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,9,80.62,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,13,78.02,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

# technique # 2

In [9]:
train_data2.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [10]:
top_10_labels = [y for y in train_data2.X8.value_counts().sort_values(ascending=False).head(10).index]
top_10_labels

['j', 's', 'f', 'n', 'i', 'e', 'r', 'a', 'w', 'v']

In [11]:
def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)

In [12]:
one_hot_encoding_top_x(train_data2, 'X8', top_10_labels)
train_data2.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X8_j,X8_s,X8_f,X8_n,X8_i,X8_e,X8_r,X8_a,X8_w,X8_v
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,0,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,0,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,0,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,1,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,1,0,0,0,0,0,0